/******general******/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size:medium;
    color:#222121
}

#container{
    margin: auto;
    min-width: 992px;
    max-width: 1200px;
}

header, nav ul, #searchbar, #location, #filters, #filterList, .cart, .circle, #more, #info, #accommodations, article, .flex-container, figure, .bluestar, .graystar, aside h2, #activities, .columnA, .columnB, footer{
    display: flex;
}

article, aside, footer{
    background-color: #F2F2F2;
}

h1, h2{
    margin: 10px 0 10px 0;
}

h2{
    padding: 0 15px;
}

ul
{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

header, main{
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
}

figure{
    margin: 10px;
    background-color: white;
    border-color: white;
    font-size: 75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

figure img{
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

figure figcaption{
    padding: 10px;
}

/*****header*****/

#logo{
    padding: 30px 0 0 10px;
}

#logo img{
    height: 50px;
}

nav ul li{
    width: auto;
    border-top: 2px solid white;
    text-align: center;
    padding: 30px;
}

nav ul li:hover{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

/*****search*****/

#search p{
    padding: 5px 0 20px 0;
}

#searchbar {
    flex-wrap: wrap;
    padding-bottom: 20px;;
}

#location {
    background-color: #F2F2F2;
    width: 40px;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    justify-content: center;
    align-items: center;
}

input{
    height: 40px;
    border: 1px solid #F2F2F2;
}

::placeholder{
    color: black;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    width: auto;
    padding : 10px;
}

button{
    background-color: #0065FC;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 40px;
    width: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    margin: -5px;

}

/*****filters*****/

#filters{
    flex-wrap : wrap;
    justify-content: left;
    align-items: center;
}

#filters p{
    padding: 10px; 
    font-weight: bold;
}

.cart{
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.circle{
    color: #0065FC;
    width: 40px;
    height: 40px;
    background-color: #DEEBFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
}

/*****more*****/

#more{
    flex-wrap : wrap;
}

#info{
    background-color: white;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: small;
}

#more p{
    margin-left: 10px;
}

/*****accommodations*****/

#accommodations{
    justify-content: flex-start;
    height: auto;
    width: auto;
}

#accommodations h3, #accommodations p, #accommodations .bluestar {
    padding: 3px;
}

.bluestar{
    color: #0065FC;
}

.graystar{
    color: #F2F2F2;
}

/****article****/

article{
    flex-flow: column;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
    float: right;
    width : 70%;
}

article p a{
    font-weight: bold;
}

article .flex-container{
    flex-wrap: wrap;
    justify-content: flex-start;
    height:auto;
}

article .flex-container figure{
    flex-wrap: wrap;
    border-radius: 10px;
    border-style: solid;
    width: 29%;
}

article .flex-container figure img{
    height: 100px;
}

/****aside****/

aside{
    flex-flow: column;
    border-radius: 10px;
    height:auto;
    padding: 20px;
    float: left;
}

aside h2{
    justify-content: space-between;
}

aside .flex-container{
    flex-direction: column;
}

aside figure{
    border-radius: 10px;
    border-style: solid;
    height: 29%;
}

aside figure img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px 0px 0px 10px;
}

/****activities****/

#activities{
    flex-flow: column;
}

#activities .flex-container{
}

.columnA{
}

.columnB{
    flex-direction: column;
    justify-content: space-between
}

#activities figure{
    flex-wrap: wrap;
    border-radius: 10px;

}




/*****footer*****/

footer{
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    width: auto;
    height: auto;
}

footer .category{
    padding: 10px;
    margin: 10px;
}

footer .category h2{
    padding-top: 10px;
}

footer .category li{
    margin-top: 10px;
}