/******general******/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Raleway', sans-serif;
    color:#222121
}

#container{
    margin: auto;
    min-width: 992px;
}

header, nav ul, #searchbar, #location, #filters, #filterList, .cart, .circle, #more, #info, #accommodations, article, .flex-container, .rating, .bluestar, .graystar, #activities, footer{
    display: flex;
}

article, aside, footer{
    background-color: #F2F2F2;
}

h1, h2{
    font-size: large;
}

ul
{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

header, main{
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}

/*****header*****/


#logo img{
    width: 100px;
}

nav li {
    box-sizing: border-box;
    width: 150px;
    padding: 20px;
    margin: 5px;
}

nav li a:hover{
    color:#0065FC;
    padding-top: 20px;
    border-top: 2px solid #0065FC;
}

/*****search*****/

#searchbar {
    flex-wrap: wrap;
}

#location {
    background-color: #F2F2F2;
    width: 30px;
    height: 30px;
    border-radius: 8px 0px 0px 8px;
    justify-content: center;
    align-items: center;
}

input{
    height: 30px;
    border: #F2F2F2;
}

::placeholder{
    color: black;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    width: 150px;
    padding : 10px;
}

button{
    background-color: #0065FC;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 25px;
    width: 100px;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px 8px 8px 0px;
}

/*****filters*****/

#filters{
    flex-wrap : wrap;
    justify-content: left;
    align-items: center;
}

#filterTitle{ /****delete and use p***/
    font-weight: bold;
}

.cart{
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.circle{
    color: #0065FC;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: -2px;

}

#filters p{
    padding: 10px; 
    font-weight: bold;
}

#more{
    flex-wrap : wrap;
    justify-content: left;
    align-items: center;
}

#info{
    background-color: white;
    color: #0065FC;
    border-style: solid;
    border-color: #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

/*****accommodations*****/

#accommodations{
    justify-content: flex-start;
    height: auto;
    width:auto;
}

article{
    flex-flow: column;
    margin-right: 20px;
    border-radius: 10px;
    flex-basis: 60%;
    height:auto;
    padding: 20px;

}

aside{
    flex-flow: column;
    border-radius: 10px;
    flex-basis: 30%;
    height:auto;
    padding: 20px;
}

.flex-container{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    height:auto;
}

aside .flex-container{
    flex-direction: column;
}

aside .flex-container .card{
    display: flex;
}

aside .flex-container .card .figure{
    flex-wrap: flex;
}



.card{
    width:30%;
    margin: 10px;
    background-color: white;
    border-color: white;
    font-size: 75%;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

article .card, aside .card{
    flex-wrap: wrap;
    border-radius: 10px;
    border-style: solid;

}

.card figure img{
    object-fit: cover;
    max-width: auto;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

.card figcaption{
    padding: 10px;
}



.bluestar{
    color: #0065FC;
}

.graystar{
    color: #F2F2F2;
}

/****activities****/

#activities{
    flex-flow: column;
    align-content: flex-end;
    align-items: stretch;
}

#activities .flex-container{
    align-content:flex-start;
    flex-wrap: wrap;
}

#activities .flex-container .card{
    border-radius: 10px;
}

/*****footer*****/

footer{
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    width: auto;
    height: auto;
}

footer .category{
    padding: 10px;
    margin: 10px;
}

footer .category h2{
    padding-top: 10px;
}

footer .category li{
    margin-top: 10px;
}